[submodule "custom_packages/powerlevel10k"]
	path = custom_packages/powerlevel10k
	url = https://github.com/ThePixelCode/oh-my-zsh-powerlevel10k-nix.git
[submodule "custom_packages/zsh-nix-shell"]
	path = custom_packages/zsh-nix-shell
	url = https://github.com/ThePixelCode/oh-my-zsh-zsh-nix-shell-nix.git
[submodule "custom_packages/nix-nwjs"]
	path = custom_packages/nix-nwjs
	url = https://github.com/ThePixelCode/nix-nwjs.git
